/**
* HydroShare GIS Data Viewer
* @author Kenneth Lippold
* @version 1.0
*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::::: Tethys Map View :::::::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* Removes Tethys app content padding */
#app-content {
    height: 100% !important;
    padding-bottom: 0 !important;
}

/* Sets up container for data viewer */
#inner-app-content {
    padding: 0 !important;
    display: flex;
    flex-flow: column;
}

/* Removes Tethys app actions */
#app-actions {
    display: none !important;
}
 /* Sets map size and background */
#map {
    flex: 1;
    background-color: lightgrey;
    min-height: 0;
}


/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::::::::::: Tethys Navigation Content ::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* Removes navigation pane padding and adds right border */
#app-navigation{
    background-color: white !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: visible !important;
    border-right: 1px solid gray !important;
}

/* Allows navigation to resize properly with window */
.nav {
    padding-bottom: 0 !important;
    background-color: #D3D3D3 !important;
}

/*  */
#nav-container {
    background-color: #D3D3D3;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Styles the main navigation tab buttons */
.nav-tab-button {
    background-color: #D3D3D3;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    font-size: 17px;
    width: 50%;
    height:100%;
}

#nav-tab-button-container {
    height: 50px;
}


/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::::::::::: App Workspace Content ::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* Sets up workspace flexbox */
/*#workspace-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}*/

/* Styles workspace section headers */
/*.nav-section-header {
    flex: 0 1 auto;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #FFFFFF;
    width: 100%;
    height: 51px;
    border-bottom: 1px solid gray;
}*/
#workspace-layer-section-header {
    flex-shrink: 0;
    height: 51px;
    border-bottom: 1px solid gray;
    background-color: #FFFFFF;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* Makes workspace-table grow to fit space */
#workspace-table-container {
    flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
}

/* Styles action section header */
#workspace-action-section-header {
    border-top: 1px solid gray;
    flex-shrink: 0;
    height: 51px;
    border-bottom: 1px solid gray;
    background-color: #FFFFFF;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* Removes bottom border of table */
#workspace-table {
	border-bottom: none;
}

/* Sets width of icon cell in layer table */
#workspace-table td:nth-child(1) { 
	width: 20px; 
}

#workspace-table td:nth-child(2) {
    max-width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Sets width of move icon in layer table */
#workspace-table td:nth-child(3) { 
    width: 20px; 
}

/* Hides layer table header */
#workspace-table thead {
    display: none;
}

/* Sets layer move icon size */
.glyph-layer-move {
    margin-top: 4px;
    font-size: 16px;
}

/* Styles layer icon */
.workspace-layer-icon {
    padding-bottom: 5px !important;
    cursor: pointer;
}

/* Styles basemap layer icon */
#basemap-icon {
    padding-bottom: 5px;
}

/* Changes cursor to a pointer on row hover */
.workspace-layer-name {
    cursor: pointer;
}

/* Sets layer table row spacing */
#workspace-table_wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

/* Sets layer table row spacing */
#workspace-table {
    border-collapse: separate; 
    border-spacing: 0 10px; 
}

/* Fixes layer table row borders */
.workspace-table-row {
    border-radius: 10px !important;
    outline: 1px solid gray;
    outline-offset: -1px;
}

/* Bolds rows of the layer table while being moved */
.dt-rowReorder-moving {
    outline: 2px solid black !important;
    outline-offset: -2px !important;
}

/* Styles the dragged row of the layer table */
.dt-rowReorder-float {
    outline: 0px solid white !important;
}

/* Spaces the action buttons */
#workspace-action-buttons {
    flex: 0 1 auto;
    padding: 5px;
}

/* Styles the action buttons */
.workspace-action-button {
    float: left;
    height: 42px;
    width: 134px;
    background: #FFFFFF;
    border: 1px solid gray;
    margin: 5px;
}

/* Makes the action buttons darker when hovered over */
.workspace-action-button:hover {
    background-color: #F0F0F0;
}

/* Removes action button click outline */
.workspace-action-button:focus {
    outline: 0;
}

/* Makes action buttons darker when clicked */
.workspace-action-button:active {
    background: #CCCCCC;
}

.workspace-layer-name {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::::::::::: App Workspace Content ::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

#discover-layer-section-header {
    flex-shrink: 0;
    height: 51px;
    border-bottom: 1px solid gray;
    background-color: #FFFFFF;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#discover-input {
    outline: none;
    background-color: whitesmoke;
    border: none;
    margin-left: 6px;
    height: 100%;
    width: 220px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#discover-input-container {
    margin-top: 4px;
    margin-bottom: 4px;
    height: 36px;
    font-size: 16px;
    border: solid;
    border-color: lightgray;
    border-width: 1px;
    width: 100%;
    background-color: whitesmoke;
}

#discover-button-container {
    float: right;
    height: 24px;
    width: 44px;
    padding-top: 2px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.glyphicon-filter {
    font-size: 18px;
}

.glyphicon-filter:hover {
    color: #6699ff;
    cursor: pointer;
}

#discover-table thead {
    display: none;
}

#discover-content {
    height: 100%;
}

#discover-table {
    border-bottom: none;
}

#discover-table_wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.glyphicon-plus:hover {
    color: #6699ff;
    cursor: pointer;
}

#discover-table-container {
    flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
}

#discover-table {
    border-collapse: separate; 
    border-spacing: 0 10px; 
}

.discover-table-row {
    border-radius: 10px !important;
    outline: 1px solid gray;
    outline-offset: -1px;
}

#discover-table_filter {
    display: none;
}

#discover-table_length {
    display: none;
}

.dataTables_empty {
    background-color: #D3D3D3;
}

.discover-layer-icon-image {
    height: 26px;
}

/* Sets width of icon cell in layer table */
#discover-table td:nth-child(1) { 
    width: 20px; 
}

#workspace-table td:nth-child(2) {
    max-width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Sets width of move icon in layer table */
#discover-table td:nth-child(3) { 
    width: 20px; 
}

.discover-layer-loading-icon {
    height: 20px;
}

.glyphicon-plus {
    padding: 3px;
    font-size: 16px;
}

.glyphicon-ok {
    padding: 3px;
    font-size: 16px;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::::::: Data Viewer :::::::::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.data-viewer-header {
	height: 41px;
    width: 100%;
	border-top: 1px solid #008080;
    background-color: #008080;
}

.data-viewer-tabs {
    margin: 0;
    list-style-type : none;
    cursor: pointer;
    padding-left: 10px;
}

.data-viewer-tabs > li {
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.data-viewer-tabs > li > a {
	color: white;
	text-decoration: none;
}

.data-viewer-tabs > li.active {
    background: white;
}

.data-viewer-tabs > li.active > a {
    color: black;
}

#data-viewer-disabled {
	cursor: not-allowed;
}

#data-viewer-disabled:hover {
    background: rgba(255, 255, 255, 0.1) !important;
}

.data-viewer-toggle {
	margin: 5px;
	height: 29px;
	width: 29px;
	float: right;
	display: block;
	padding: 2px 7px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.1);
	color: #ffffff;
	font-size: 18px;
	cursor: pointer;
}

.data-viewer-toggle:hover {
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.data-viewer-toggle > a {
	color: white;
}

#data-viewer-hide {
	padding-top: 6px;
}

.data-viewer-content {
	height: 225px;
	width: 100%;
	background-color: white;
}

.data-viewer-content-page {
	height: 100%;
	width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.data-viewer-section {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

.data-viewer-section-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

.symbology-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-right: 30px;
}


.action-btn {
    margin-bottom: 10px;
}


#add-resource-message {
    float: left;
    padding-left: 20px;
}

.workspace-layer-icon {
    padding-bottom: 4px;
    height: 29px;
}

#attribute-table-container {
    width: 100%;
    height: 210px;
    overflow: hidden;
}

.btn-disable {
    background-color: #ffffff;
    color: #C0C0C0;
    cursor: not-allowed;
}

.btn-disable:hover {
    background-color: #ffffff;
    color: #C0C0C0;
    cursor: not-allowed;
}

.btn-disable:active {
    background-color: #ffffff;
    color: #C0C0C0;
    cursor: not-allowed;
}

#layer-options-tab-view {
    overflow-y: auto;
}




.ts-plot-disabled {
    color: silver !important;
    cursor: not-allowed;
}

.ts-plot-disabled > a {
    color: silver !important;
    cursor: not-allowed;
}


#plot {
    height: 100%;
    width: 100%;
}


#attribute-table tr td {
    font-size: 12px;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 25px;
}